.notification-card{
    background-color: black;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.notification-text1{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}
.notification-text2{
    color: lightblue;
    font-size: 1rem;
    font-weight: 500;
    margin-left: .2rem;
}