.layouts-container{
    background-color: #f4f4f4;
    padding: 4rem;
    display: flex;
    column-gap: 4rem;
    justify-content: center;
}

@media screen and (min-width:960px){
    .layouts-container{
        padding: 4rem 12rem 4rem 12rem;
    }
}
.layout-heading{
    color: rgb(119, 114, 114);
    font-size: 1.3rem;
    font-weight: 300;
}
.layout-description{
    color: black;
}