.header-container{
    background-color: rgb(36, 40, 46);
    padding: 2rem;
    text-align: center;
}
.header-button{
    height: 2.5rem;
    width: 8rem;
    border: none;
    font-size: 1rem;
    background-color: #61DAFB;
}
.tutorial-text{
    font-size: 1rem;
    color: #61DAFB;
    display: inline;
    margin-left: 1.5rem;
}
.header-heading{
    font-size: 3rem;
    color: #61DAFB;
    margin-top: 0;
}
.header-description{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 200;
}
.right{
    margin-left: .6rem;
}