.navbar-card{
    background-color: #282c34;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}
.logo-title-card{
    display: flex;
    align-items: center;
}
.logo{
    height: 30px;
}
.logo-title{
    font-size: 1.5rem;
    color: rgb(60, 155, 187);
    display: none;
}
.nav-items{
    color: #ffffff;
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.input-box{
    background-color: transparent;
    height: 30px;
    width: 8rem;
    border: none;
    font-size: 1rem;
    padding-left: .4rem;
    outline: none;
    color: #ffffff;
}
.version-text{
    color: #ffffff;
    font-size: 1rem;
}
.lang-text{
    color: #ffffff;
}
.lang-card{
    display: flex;
    align-items: center;
    column-gap: .6rem;
    display: none;
}
.search-card{
    display: flex;
    align-items: center;
    display: none;
}
.git-text{
    color: #ffffff;
    display: none;
}
.search-icon{
    color: #ffffff;
}

.mobile-search{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

@media screen and (min-width:520px) {
    .navbar-card{
        padding: 0 3rem 0 3rem;
    }
}

@media screen and (min-width:890px){
    .logo-title{
        display: inline;
    }
    .navbar-card{
        padding: 0 6rem 0 6rem;
    }
    .mobile-search{
        display: none;
    }
    .lang-card{
        display: flex;
        align-items: center;
        column-gap: .6rem;
    }
    .git-text{
        color: #ffffff;
    }
    .search-card{
        display: flex;
        align-items: center;
    }
    .navbar-card{
        justify-content: space-around;
    }
}